{% extends "layout.html" %}

{% block content %}     <!-- content is the name of the block defined in the layout.html -->

        <div class="content-section">
            <form method = "POST" action = "">
                {{ form.hidden_tag() }}  <!--csf token -->
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> 
                       join now 
                    </legend>

                    
                       <!---email -->
                    <div class="form-group">  
                        {{ form.email.label(class = "form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class = "form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }}</span>
                            {% endfor %}
                        </div>
                    
                    {% else %}
                        {{ form.email(class = "form-control form-control-lg") }}
                    {% endif %} 
                    </div>

                       <!-- password -->
                    <div class="form-group">       
                        {{ form.password.label(class = "form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class = "form-control form-control-lg is-invalid")}}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span> {{ error }}</span>
                                {% endfor %}
                            </div>
                        
                        {% else %}
                            {{ form.password(class = "form-control form-control-lg") }}
                        {% endif %} 
                    </div>

                    <!-- remember me field-->
                    <div class="form-check">
                        {{form.remember(class = "from-check-input")}}
                        {{form.remember.label(class = "from-check-label")}}
                    </div>

                    <!--submit button -->
                    <div class="form-group">
                        {{form.submit(class= "btn btn-outline-info")}}
                    </div>
                    <!--forgot password-->
                    <small class="text-muted ml-2"> 
                        <a href="#">Forgot Password ? </a>
                    </small>
                </fieldset>
            </form>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nedd an account ? <a class="ml-2"  href="#"> SignUp now  </a>
            </small>
        </div>
{% endblock content %}
