{% extends "layout.html" %}
{% block content %}

<div class="container" style= "border-collapse: collapse;" id = "responsive">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3"> 
                <h2> Add <b>Patients  Scans</b> 
                    
                 </h2>
                                                     

                <table class="table table-hover table-striped table-bordered ">
                    <tr>
                        <tr>
                            
                            <th>ID</th>
                            <th>Name</th>
                            <th>Reservation Date</th>
                            <th>Gender</th>
                            <th>Scan Type</th>
                            <th>Action</th>
                        </tr>
                    
                        
                    </tr>
                   {% for row in p_data %}
                    <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.scan_owner.name}}</td>
                            <td>{{row.scan_date.strftime('%Y-%m-%d |%H:%M:%S') }}</td>
                            <td>{{row.scan_owner.gender}}</td>
                            <td>{{row.scan_type}}</td>
                            <td>
                                {% if row.image_file == "default.jpg" %}
                                    <a href="{{url_for('add_scan_img', id=row.id )}}" class="btn btn-danger" > Add Patient Scan</a>
                                {% else %}
                                    <a href=" {{url_for('add_scan_img', id=row.id )}} " class="btn btn-success"> Scan uploaded </a>
                                {% endif %}
                            </td>
                    </tr>

                   {% endfor %} 
             </div>
        </div>
    </div>
</div>
{% endblock %}