{% extends "layout.html" %}
{% block homepage %}
    <a class="navbar-brand mr-4" href="{{ url_for('recep') }}">Radiology</a>
{% endblock homepage %}
{% block navbar %}
    
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
{% endblock navbar %}
{% block content %}
<div class="content-section">
    <form method="POST" action = "">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"> 
                {{legend}} 
            </legend>

                    <!-- name -->
            <div class="form-group">    
                {{ form.name.label(class = "form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                
                {% else %}
                    {{ form.name(class = "form-control form-control-lg") }}
                {% endif %}
            </div>
            <!--ssn -->
            <div class="form-group">
                {{form.ssn.label(class = "form-control-label")}}
                {% if form.ssn.errors %}
                {{ form.ssn(class = "form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.ssn.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                    {{ form.ssn(class = "form-control form-control-lg") }}
                {% endif %}
            
            </div>
            <div class="form-group">    
                {{ form.email.label(class = "form-control-label") }}
                {% if form.email.errors %}
                    {{ form.email(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                
                {% else %}
                    {{ form.email(class = "form-control form-control-lg") }}
                {% endif %}
            </div>
                <!---birth date -->
            <div class="form-group">  
                {{ form.dob.label(class = "form-control-label") }}
                {% if form.dob.errors %}
                {{ form.dob(class = "form-control form-control-lg is-invalid")}}
                <div class="invalid-feedback">
                    {% for error in form.dob.errors %}
                        <span> {{ error }}</span>
                    {% endfor %}
                </div>
            
                {% else %}
                    {{ form.dob(class = "form-control form-control-lg") }}
                {% endif %}
                    
                
            </div>

                <!-- gender -->
            <div class="form-group">       
                {{ form.gender.label(class = "form-control-label") }}
                {% if form.gender.errors %}
                    {{ form.gender(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">gender
                        {% for error in form.gender.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                
                {% else %}
                    {{ form.gender(class = "form-control form-control-lg") }}
                {% endif %}
                
                
            </div>

                <!--address-->
            <div class="form-group">    
                {{ form.address.label(class = "form-control-label") }}
                {% if form.address.errors %}
                    {{ form.address(class = "form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span> {{ error }}</span>
                        {% endfor %}
                    </div>
                
                {% else %}
                    {{ form.address(class = "form-control form-control-lg") }}
                {% endif %}
                
                
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class= "btn btn-outline-info")}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=location.href='{{url_for("recep")}}' >Close</button>
        </div>
    </form>
</div>
{% endblock content %}