<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>print Report {{ scan.id }}</title>
  </head>
  <body>
    <div class="container">
        <div class="row">
          <div class="col">
            Patient: {{ scan.patient.name }}
          </div>
          <div class="col">
            Age: {{ scan.patient.age }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            Sex: {{ scan.patient.gender }}
          </div>
          <div class="col">
            Technician: {{ scan.technician.name }}
          </div>
        </div>
        <div class="row">
            <div class="col">
              Doctor: {{ scan.doctor.name }}
            </div>
            <div class="col">
              Report ID: #{{ scan.id }}
            </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-5" style="text-transform: uppercase;">
            <h1>{{ scan.report_title }}</h1>
            <br>
            <p>
                {{ scan.report_content }}
            </p>
            <br>
            <h3>SUMMARY</h3>
            <p>{{ scan.report_summary }}</p>
          </div>
          <div class="col-7">
            <img src="{{ image }}" alt="" style="width: 90%; height: 90%;">
          </div>
          
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>