{% extends "layout.html" %}
{% block homepage %}
    <a class="navbar-brand mr-4" href="{{ url_for('recep') }}">Radiology</a>
{% endblock homepage %}
{% block navbar %}
    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
{% endblock navbar %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2> Manage <b>Patients </b>
                    <button type="button" class="btn btn-success float-right "
                        onclick=location.href='{{url_for("addPatient")}}'>Add New Patients
                    </button>
                    <button type="button" class="btn btn-success float-right mr-3"
                        onclick=location.href='{{url_for("patient_scan", patient_id=0)}}'> New Scan
                    </button>
                </h2>
                <table class="table table-hover table-striped mydatatable">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>SSN</th>
                            <th>Reservation Date</th>
                            <th>Scan Type</th>
                            <th>Receptionist</th>
                            <th>Technition</th>
                            <th>Doctor</th>
                            <th>Scan Fees</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in p_data %}
                            {% if row.image_file == 'default.jpg' or row.report_title == None %}
                                <tr>
                                    <td>{{row.id}}</td>
                                    <td>{{row.patient.name}}</td>
                                    <td>{{row.patient.ssn}}</td>
                                    <td>{{row.scan_date.strftime('%Y-%m-%d') }}</td>
                                    <td>{{row.scan_type}}</td>
                                    <td>{{row.receptionist.name}}</td>
                                    <td>{{row.technician.name}}</td>
                                    <td>{{row.doctor.name}}</td>
                                    <td>{{row.fees}}</td>
                                    <td>
                                        <a href="{{url_for('visit_patient', id=row.patient.id)}}"  class="btn btn-success btn-xs">Patient Visits</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2> Patients <b>Reports</b></h2>
                <table class="table table-hover table-striped mydatatable">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>SSN</th>
                            <th>Reservation Date</th>
                            <th>Scan Type</th>
                            <th>Receptionist</th>
                            <th>Technition</th>
                            <th>Doctor</th>
                            <th>Scan Fees</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in p_data %}
                            {% if row.image_file != 'default.jpg' and row.report_title != None %}
                                <tr>
                                    <td>{{row.id}}</td>
                                    <td>{{row.patient.name}}</td>
                                    <td>{{row.patient.ssn}}</td>
                                    <td>{{row.scan_date.strftime('%Y-%m-%d') }}</td>
                                    <td>{{row.scan_type}}</td>
                                    <td>{{row.receptionist.name}}</td>
                                    <td>{{row.technician.name}}</td>
                                    <td>{{row.doctor.name}}</td>
                                    <td>{{row.fees}}</td>
                                    <td>
                                        <a href="{{url_for('print_report', id=row.id)}}"  class="btn btn-info btn-xs">Print</a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
    <script>
        $('.mydatatable').DataTable({
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, "All"]]
        });
    </script>
{% endblock scripts %}