<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <main class="page-content">
        <div class="wrapper">
            <style type="text/css" media="screen">
                .container {margin: 10px auto;max-width: 600px;text-align: center;}
                h1 {margin: 30px 0;font-size: 4em;line-height: 1;letter-spacing: -1px;}
            </style>
            <div class="container">
                <h1>404</h1>
                <img src="https://ugc.kn3.net/i/760x/http://1.bp.blogspot.com/-6hMHuY20M-U/VlFUJyWbC4I/AAAAAAAAAHs/nATSEib1KpY/s1600/John-Travolta-Vincent-Vega-Pulp-Fiction-Tiempos-Violentos-gif%2Btransparente.gif">
                <p>
                    <strong>Page Not Found :(</strong>
                </p>
                <p>The requested page could not be found</p>
            </div>
        </div>
    </main>

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</body>
</html>